/* Styles for HomePage component */

.create-deck-content {

}

/* Footer */
.home-footer-container {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  line-height: 0;
  text-align: center;
}

.home-footer {
  background-color: var(--primary-color-shade);
  border-radius: var(--border-radius-slice);
  padding: 0.5em 1.5em;
}

.home-footer-copyright {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.github-link {
  text-decoration: none;
}

/* Available decks section */
.available-decks-section {
  margin: 4rem 12.5rem;
}

@media (max-width: 768px) {
  .home-footer-container {
    position: absolute;
    bottom: 1.5em;
    right: auto;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .home-footer {
    margin: 0 1.5em;
  }

  .available-decks-section {
    margin: 2rem 2.5rem;
  }
}