<div class="cardlist">
  <div class="sides-container">
    <h3>Front</h3>
    <h3>Back</h3>
    <h3>Difficulty</h3>
  </div>
  <div class="fields-container">
    <h3>Name</h3>
    <h3>Description</h3>
    <h3>Name</h3>
    <h3>Description</h3>
  </div>
  <div class="cards-container">
    <div class="front-name-container">
      <p>Cool</p>
    </div>
    <div class="front-description-container">
      <p>Something really cool</p>
    </div>
    <div class="back-name-container">
      <p>Cool</p>
    </div>
    <div class="back-description-container">
      <p>格好いい</p>
    </div>
    <div class="difficulty-container">
      <p>Elatla difficulty</p>
    </div>
  </div>
</div>