/* Styles for CardList component */

.cardlist {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  padding-bottom: 1em;
  overflow-y: auto;
}

.categories-container {
  margin: 0 1em;
}

.names-container {
  line-height: 0;
}

.card {
  padding: 1em;
  border-radius: var(--border-radius-slice);
}

.card.selected {
  color: var(--primary-background-color);
  background-color: var(--font-primary-color);
}