<div class="cardeditor">
  <div class="cardeditor-content">

    <div class="front-fields">
      <p class="section-title">Front</p>
      <div class="front-name-container">
        <p>Word</p>
      </div>
      <div class="front-description-container">
        <p>Example</p>
      </div>
    </div>

    <div class="back-fields">
      <p class="section-title">Back</p>
      <div class="back-name-container">
        <p>Translation</p>
      </div>
      <div class="back-description-container">
        <p>Notes</p>
      </div>
    </div>

    <div class="difficulty-container">
      <p class="section-title">Difficulty</p>
    </div>

    <div class="apply-changes-button-container"></div> 
  </div>
</div>