/* Styles for CardEditor component */

.cardeditor {
  display: flex;
  flex-direction: column;
}

.cardeditor-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.section-title {
  font-size: 1.2em;
  font-weight: bold;
}