@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

:root {
  --font-family: Fira Mono, monospace;
  --border-radius-slice: 5px;
  --slice-border: 1px;
}
body {
  margin: 0;
  background-color: var(--primary-background-color);
  transition: all 0.2s;
}
.caret {
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid;
  transition: transform 0.3s;
}
.caret_open {
  transform: rotate(180deg);
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar:horizontal {
  height: 3px;
}
*::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--border-radius-slice);
}
