.slice_button {
  --button-primary-color: var(--primary-color);
  --button-primary-color-contrast: var(--primary-color-contrast);
  --button-border-radius: var(--border-radius-slice);
  --button-border-width: var(--slice-border);
  --button-font-family: var(--font-family);
  --button-font-size: 1em;
}

.slice_button_container:not:has(.slice_button.variant-ghost) {
  padding: 10px;
}

.slice_button.variant-ghost {
  color: var(--button-primary-color);
  background-color: transparent;
  border: none;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.slice_button_anim_item {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2.5px;
  min-height: 2.5px;
  background-color: var(--button-primary-color);
  transition: width 0.3s ease;
}

.slice_button.variant-ghost:hover .slice_button_anim_item {
  width: 95%;
}

.slice_button_value {
  user-select: none;
  cursor: pointer;
}
.slice_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: var(--button-primary-color);
  color: var(--button-primary-color-contrast);
  border-radius: var(--button-border-radius);
  border: var(--button-border-width) solid var(--button-primary-color);
  font-family: var(--button-font-family);
  font-weight: bold;
  font-size: var(--button-font-size);
  padding: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.slice_button:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #ffffff50;
  position: absolute;
  display: block;
  opacity: 0;
  scale: 10;
  transition: all 1s;
}
.slice_button:active {
  transform: translateY(5px);
}
.slice_button:active:after {
  scale: 0;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.slice_button_icon {
  margin-right: 0.25em;
}