/* Styles for DeckEdit component */
.deckedit {
  padding: 1em;
}

.sections-container {
  height: 85vh;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.left-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  border: var(--slice-border) solid var(--font-primary-color);
  border-radius: var(--border-radius-slice);
}

.add-card-button-container {
  margin-left: 1em;
  margin-bottom: 1em;
}

.add-card-body {
  display: inline-block;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.right-section-container {
  min-width: 40%;
  overflow-y: auto;
  border: var(--slice-border) solid var(--font-primary-color);
  border-radius: var(--border-radius-slice);
  padding: 0 1em;
  padding-bottom: 1em;
}

.separator {
  height: 2px;
  border-radius: var(--border-radius-slice);
  background-color: var(--primary-color-shade);
}